version: "3.9"

services:
  app:
    build:
      context: .
      args:
        API_KEY: ${API_KEY}
    ports:
      - "8080:80"
    environment:
      - API_KEY=${API_KEY}
    env_file:
      - .env
